anyio==3.7.1
attrs==22.1.0
Automat==22.10.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
constantly==15.1.0
cryptography==38.0.3
cssselect==1.2.0
dnspython==2.3.0
email-validator==2.0.0.post2
exceptiongroup==1.1.2
fastapi==0.99.1
filelock==3.8.0
greenlet==2.0.1
h11==0.14.0
httpcore==0.17.3
httptools==0.5.0
httpx==0.24.1
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
itemadapter==0.7.0
itemloaders==1.0.6
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
lxml==4.9.1
MarkupSafe==2.1.3
numpy==1.23.4
orjson==3.9.1
packaging==21.3
pandas==1.5.1
parsel==1.7.0
Protego==0.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.11
PyDispatcher==2.0.6
PyMySQL==1.0.2
pyOpenSSL==22.1.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.21.0
python-multipart==0.0.6
pytz==2022.6
PyYAML==6.0
queuelib==1.6.2
requests==2.28.1
requests-file==1.5.1
Scrapy==2.7.1
service-identity==21.1.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.43
starlette==0.27.0
tldextract==3.4.0
Twisted==22.10.0
typing_extensions==4.7.1
ujson==5.8.0
urllib3==1.26.12
uvicorn==0.22.0
uvloop==0.17.0
w3lib==2.0.1
watchfiles==0.19.0
websockets==11.0.3
zope.interface==5.5.1
