@charset "UTF-8";

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    padding: 20px;
    color: red;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
}

.flex-item {
    flex: 1 1 calc(33.33% - 2rem);
    margin: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #fff;
    text-align: left;
    list-style: none;
}

.flex-item li {
    margin-bottom: 10px;
}

.image-item {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
}
